<div class="col-6 startCol">

    <div class="card stationCard" style="max-width: 300px;">

        <div class=" card-header orderHead mx-0 px-1 py-0">
            <div class="row">
                <div class="col-6">
                    <p class="orderHead">Table {{this.orderNumber}}</p>
                </div>

                <div class="col-6 text-right">
                    <span><i class="far fa-clock text-dark "></i>{{this.currentTime}}</span>
                </div>
            </div>

        </div>
        <div class="card-body cardBody">
            <ul class="  ulStation list-group-flush">
                <li class="  liStation list-group-item">{{this.name}}</li>
            </ul>
        </div>
    </div>
</div>