<h1>Waitor/Waitress Item Entry</h1>

<h6>Order Number</h6>

<input id = "order-number" class="form-control col-4" type="text" placeholder="Order Number">

  </div>

<h6>Select Menu Item</h6>

  <div class="form-group menu-items col-4">
    <select class="form-control" id="select-menu">
    {{#each menu}}
    {{> menuItem}}
    {{/each}}
    </select>
  </div>
  

<div class="">


</div>

<div class="mods">

</div>


<h6>Send Item</h6>

<button class="btn btn-primary send-to-db" type="submit">Submit form</button>

<h6> Reset Page (Close out order)</h6>

<button class = "btn btn-warning reset">Reset</button>