<!-- Navbar wth greeting and clock -->
<nav class="navbar stationNav my-2 ">

  <div class="col-6">
    <h4>Good Morning,</h4>

  </div>
  <div class="col-3">
    <h4>Station : Salads</h4>

  </div>
  <div class="col-3">

    <h2 class="timer"></h2>

  </div>


</nav>
<!-- End of Navbar  -->


<!-- The sidebar -->
<div class="sidebar light-card">
  <a href="/kitchen/station/1"><i class="fas fa-leaf"></i> <br>
    <p class="sidebarIcon">Salads</p>
  </a>

  <a href="/kitchen/station/2"><i class="fas fa-ice-cream"></i> <br>
    <p class="sidebarIcon">Desserts</p>

    <a href="/kitchen/expo"><i class="fas fa-street-view"></i><br>
      <p class="sidebarIcon ">Expo</p>
    </a>

    <a href="/kitchen/station/{{station}}/recall"><i class="fas fa-redo-alt"></i> <br>
      <p class="sidebarIcon recallOrder">Recall Order</p>
    </a>

  </a>
  <a href="/"><i class="fas fa-home"></i> <br>
    <p class="sidebarIcon ">Home</p>
  </a>


</div>
<!-- end of sidebar -->

{{!-- container with orders to cook --}}

<div class="container containerKitchen">
  <div class="row center-align">

    <div class="col-6">
      <h3>Start</h3>

    </div>
    <div class="col-6">
      <h3>Cooking</h3>

    </div>
  </div>

  {{!-- orders to be cooked --}}
  <div class="row">
    {{!-- if status of item is "not Started" call partial toCOok handlebar  --}}
    <div class="col-6 startCol">

      {{#each NotStarted}}
      {{> toCook}}
      {{/each}}

    </div>


    <div class="col-6 cookingCol">
      {{#each Working}}
      {{> cooking}}
      {{/each}}
    </div>

  </div>

  {{!-- if status of item is "working" call partial cooking handlebar  --}}

  {{!-- if status of item is "working" call partial cooking handlebar  --}}


</div>