<!-- Navbar wth greeting and clock -->
<nav class="navbar stationNav my-2 ">

  <div class="col-6">
    <h4>Good Morning,</h4>

  </div>
  <div class="col-3">
    <h4>Station : Salads</h4>

  </div>
  <div class="col-3">

    <h2 class="timer"></h2>

  </div>


</nav>
<!-- End of Navbar  -->


<!-- The sidebar -->
<div class="sidebar light-card">

  <a href="#"><i class="fas fa-redo-alt"></i> <br>
    <p class="sidebarIcon recallOrder">Recall Order</p>
  </a>
  <a href="#services"><i class="fas fa-exclamation"></i> <br>
    <p class="sidebarIcon">Delayed</p>
  </a>
  <a href="#services"><i class="fas fa-home"></i> <br>
    <p class="sidebarIcon main">Main</p>
  </a>


</div>
<!-- end of sidebar -->

{{!-- container with orders to cook --}}

<div class="container containerKitchen">
  <div class="row center-align">

    <div class="col-6">
      <h3>Start</h3>

    </div>
    <div class="col-6">
      <h3>Cooking</h3>

    </div>
  </div>

  {{!-- orders to be cooked --}}
  <div class="row">
    <div class="col-6">

      {{#each NotStarted}}

      {{> toCook}}
      {{/each}}
    </div>
    <div class="col-6">

      {{#each Working}}
      {{> cooking}}
      {{/each}}
    </div>
    {{!-- if status of item is "not Started" call partial toCOok handlebar  --}}

    {{!-- if status of item is "working" call partial cooking handlebar  --}}

  </div>

</div>