.list-group-item {
  line-height: 2.5;
} 


/********* EXPO view and MODAL style  *******/
body {

  background-color: #ffffff;
  background-image: linear-gradient(200deg, #ffffff 2%, #d7e1ec 80%);
  height: 120vh;
}

ul,
li {
  margin: 0 !important;
  padding: 5px !important;
  text-align: left;
  font-size: 14px;
  color: black;
  font-family: 'Cabin', sans-serif;
  letter-spacing: 1.7px;
  font-weight: bolder;
}

.pagination {
  display: inline-block;

}

.pagination a {
  color: black;

  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  font-size: 30px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.modal-header {
  background-color: green;
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
  color: white;
}

.fa-times-circle {
  font-size: 40px;
}

.container {
  margin-top: 20px;
  margin-left: 50px;
  height: 100%;
}

.tableN,
p {
  font-size: 17px;
}

.card {
  box-shadow: 2px 2px 5px 4px rgba(0, 0, 255, .2);
  margin-top: 10px;
  border-style: ridge;
}

.card-header {
  color: black;
  font-weight: bolder;
  font-family: 'Cabin', sans-serif;
  font-size: 13px;
  padding: 8px;
  letter-spacing: 1px;
  background-color: white;
}

.card-body {
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.card-footer {
  font-size: 14px;
  letter-spacing: 5px;
  top: 1px;
  font-family: 'Cabin', sans-serif;
  background-color: green;
  color: white;
}

.logo {
  font-family: 'Cabin', sans-serif;
  font-size: 30spx;
  margin-left: 40px;
  letter-spacing: 4px;
  font-weight: bolder;
}

.timer {
  font-family: 'Cabin', sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  margin-left: 140px;
}

/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 10;
  background-color: white;
  /* overflow-x: hidden; */
  padding-top: 40px;
}

nav,
.navbar {
  background-color: white;
  margin-top: 0px !important;

}


/* Style sidebar links */
.sidebar a {
  padding: 10px 10px 10px;
  justify-content: space-around;
  text-decoration: none;
  font-size: 50px;
  text-align: center;
  color: black;
  display: block;
  align-content: center;
  margin-top: 60px;

}

.fa-check-circle {
  font-size: 25px;
  color: green
}

.sidebarIcon {
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 1px;
}

.small {
  padding: 1px;
  margin-right: 0px;
  color: gray;
}


.sidebar i {
  box-shadow: 1px blanchedalmond;
}


/******* end of the expo styling *******/